<%= form_with model: article do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %><br>
  </div>

  <div>
    <%= form.label :embed_type, "埋め込みタイプ" %><br>
    <%= form.select :embed_type, Article::EMBED_TYPES, include_blank: '選択してください' %><br>
  </div>

  <div>
    <%= form.label :embed_url, "埋め込みURL" %><br>
    <%= form.text_field :embed_url %><br>
  </div>

  <div>
    <%= form.submit %><br>
  </div>
<% end %>